**/*.iml
**/.ivy
**/.classpath
**/.project
**/.sass-cache
**/.settings
**/bin
**/build
**/build_gradle
**/node_modules
**/test-coverage
**/tmp
**/.web_bundle_build
.gradle
.idea
/bundles
/gradle-*.properties
/plugins-sdk/**/classes
/plugins-sdk/**/ivy.xml.MD5
/plugins-sdk/**/liferay-hook.xml.processed
/plugins-sdk/build.*.properties
/plugins-sdk/dependencies/**/*.jar
/plugins-sdk/dist
/plugins-sdk/lib
/modules/allerta-allertaer/allerta-allertaer-service/src/main/resources/service.properties
/modules/allerta-bollettino/allerta-bollettino-service/src/main/resources/service.properties
/modules/allerta-radarmeteo/allerta-radarmeteo-service/src/main/resources/service.properties
