$icomoon-font-family: "allerta-meteo" !default;
$icomoon-font-path: "fonts" !default;

$i-play-rounded-corner: "\e919";
$i-dati-osservati: "\e915";
$i-doc-comune: "\e916";
$i-previsioni-meteo: "\e917";
$i-radar-meteo: "\e918";
$i-bullhorn-o: "\e90b";
$i-previsioni-dati: "\e90c";
$i-cartografia: "\e90d";
$i-social-allerta: "\e90e";
$i-report-post-evento: "\e90f";
$i-warning-o: "\e910";
$i-search-comune: "\e911";
$i-video: "\e912";
$i-rer: "\e90a";
$i-valanghe: "\e900";
$i-mareggiate: "\e901";
$i-stato-mare: "\e902";
$i-pioggia-gelata: "\e903";
$i-neve: "\e904";
$i-temperature-es: "\e905";
$i-vento: "\e906";
$i-temporali: "\e907";
$i-frane: "\e908";
$i-piene-fiumi: "\e909";
$i-warning-triangle-o: "\e914";
$i-alarm: "\e855";
$i-schedule: "\e8b5";
$i-alarm-add: "\e856";
$i-add-circle: "\e147";
$i-add-circle-o: "\e3ba";
$i-add-location: "\e567";
$i-alarm-off: "\e857";
$i-alarm-on: "\e858";
$i-autorenew: "\e863";
$i-message-sent: "\e0b9";
$i-contact-phone: "\e0cf";
$i-exit: "\e879";
$i-favorite: "\e87d";
$i-favorite-o: "\e87e";
$i-filter_9_plus: "\e3da";
$i-terrain: "\e564";
$i-flash-on: "\e3e7";
$i-location_city: "\e7f1";
$i-message: "\e0c9";
$i-near-me: "\e569";
$i-touch-app: "\e913";
$i-trending-down: "\e8e3";
$i-view_list: "\e8ef";
$i-asterisk: "\f069";
$i-plus: "\f067";
$i-question: "\f128";
$i-minus: "\f068";
$i-glass: "\f000";
$i-music: "\f001";
$i-search: "\f002";
$i-envelope-o: "\f003";
$i-heart: "\f004";
$i-star: "\f005";
$i-star-o: "\f006";
$i-user: "\f007";
$i-film: "\f008";
$i-th-large: "\f009";
$i-th: "\f00a";
$i-th-list: "\f00b";
$i-check: "\f00c";
$i-close: "\f00d";
$i-remove: "\f00d";
$i-times: "\f00d";
$i-search-plus: "\f00e";
$i-search-minus: "\f010";
$i-power-off: "\f011";
$i-signal: "\f012";
$i-cog: "\f013";
$i-gear: "\f013";
$i-trash-o: "\f014";
$i-home: "\f015";
$i-file-o: "\f016";
$i-clock-o: "\f017";
$i-road: "\f018";
$i-download: "\f019";
$i-arrow-circle-o-down: "\f01a";
$i-arrow-circle-o-up: "\f01b";
$i-inbox: "\f01c";
$i-play-circle-o: "\f01d";
$i-repeat: "\f01e";
$i-rotate-right: "\f01e";
$i-refresh: "\f021";
$i-list-alt: "\f022";
$i-lock: "\f023";
$i-flag: "\f024";
$i-headphones: "\f025";
$i-volume-off: "\f026";
$i-volume-down: "\f027";
$i-volume-up: "\f028";
$i-qrcode: "\f029";
$i-barcode: "\f02a";
$i-tag: "\f02b";
$i-tags: "\f02c";
$i-book: "\f02d";
$i-bookmark: "\f02e";
$i-print: "\f02f";
$i-camera: "\f030";
$i-font: "\f031";
$i-bold: "\f032";
$i-italic: "\f033";
$i-text-height: "\f034";
$i-text-width: "\f035";
$i-align-left: "\f036";
$i-align-center: "\f037";
$i-align-right: "\f038";
$i-align-justify: "\f039";
$i-list: "\f03a";
$i-dedent: "\f03b";
$i-outdent: "\f03b";
$i-indent: "\f03c";
$i-video-camera: "\f03d";
$i-image: "\f03e";
$i-photo: "\f03e";
$i-picture-o: "\f03e";
$i-pencil: "\f040";
$i-map-marker: "\f041";
$i-adjust: "\f042";
$i-tint: "\f043";
$i-edit: "\f044";
$i-pencil-square-o: "\f044";
$i-share-square-o: "\f045";
$i-check-square-o: "\f046";
$i-arrows: "\f047";
$i-step-backward: "\f048";
$i-fast-backward: "\f049";
$i-backward: "\f04a";
$i-play: "\f04b";
$i-pause: "\f04c";
$i-stop: "\f04d";
$i-forward: "\f04e";
$i-fast-forward: "\f050";
$i-step-forward: "\f051";
$i-eject: "\f052";
$i-chevron-left: "\f053";
$i-chevron-right: "\f054";
$i-plus-circle: "\f055";
$i-minus-circle: "\f056";
$i-times-circle: "\f057";
$i-check-circle: "\f058";
$i-question-circle: "\f059";
$i-info-circle: "\f05a";
$i-crosshairs: "\f05b";
$i-times-circle-o: "\f05c";
$i-check-circle-o: "\f05d";
$i-ban: "\f05e";
$i-arrow-left: "\f060";
$i-arrow-right: "\f061";
$i-arrow-up: "\f062";
$i-arrow-down: "\f063";
$i-mail-forward: "\f064";
$i-share: "\f064";
$i-expand: "\f065";
$i-compress: "\f066";
$i-exclamation-circle: "\f06a";
$i-gift: "\f06b";
$i-leaf: "\f06c";
$i-fire: "\f06d";
$i-eye: "\f06e";
$i-eye-slash: "\f070";
$i-exclamation-triangle: "\f071";
$i-warning: "\f071";
$i-plane: "\f072";
$i-calendar: "\f073";
$i-random: "\f074";
$i-comment: "\f075";
$i-magnet: "\f076";
$i-chevron-up: "\f077";
$i-chevron-down: "\f078";
$i-retweet: "\f079";
$i-shopping-cart: "\f07a";
$i-folder: "\f07b";
$i-folder-open: "\f07c";
$i-arrows-v: "\f07d";
$i-arrows-h: "\f07e";
$i-bar-chart: "\f080";
$i-bar-chart-o: "\f080";
$i-twitter-square: "\f081";
$i-facebook-square: "\f082";
$i-camera-retro: "\f083";
$i-key: "\f084";
$i-cogs: "\f085";
$i-gears: "\f085";
$i-comments: "\f086";
$i-thumbs-o-up: "\f087";
$i-thumbs-o-down: "\f088";
$i-star-half: "\f089";
$i-heart-o: "\f08a";
$i-sign-out: "\f08b";
$i-linkedin-square: "\f08c";
$i-thumb-tack: "\f08d";
$i-external-link: "\f08e";
$i-sign-in: "\f090";
$i-trophy: "\f091";
$i-github-square: "\f092";
$i-upload: "\f093";
$i-lemon-o: "\f094";
$i-phone: "\f095";
$i-square-o: "\f096";
$i-bookmark-o: "\f097";
$i-phone-square: "\f098";
$i-twitter: "\f099";
$i-facebook: "\f09a";
$i-facebook-f: "\f09a";
$i-github: "\f09b";
$i-unlock: "\f09c";
$i-credit-card: "\f09d";
$i-feed: "\f09e";
$i-rss: "\f09e";
$i-hdd-o: "\f0a0";
$i-bullhorn: "\f0a1";
$i-bell-o: "\f0a2";
$i-certificate: "\f0a3";
$i-hand-o-right: "\f0a4";
$i-hand-o-left: "\f0a5";
$i-hand-o-up: "\f0a6";
$i-hand-o-down: "\f0a7";
$i-arrow-circle-left: "\f0a8";
$i-arrow-circle-right: "\f0a9";
$i-arrow-circle-up: "\f0aa";
$i-arrow-circle-down: "\f0ab";
$i-globe: "\f0ac";
$i-wrench: "\f0ad";
$i-tasks: "\f0ae";
$i-filter: "\f0b0";
$i-briefcase: "\f0b1";
$i-arrows-alt: "\f0b2";
$i-group: "\f0c0";
$i-users: "\f0c0";
$i-chain: "\f0c1";
$i-link: "\f0c1";
$i-cloud: "\f0c2";
$i-flask: "\f0c3";
$i-cut: "\f0c4";
$i-scissors: "\f0c4";
$i-copy: "\f0c5";
$i-files-o: "\f0c5";
$i-paperclip: "\f0c6";
$i-floppy-o: "\f0c7";
$i-save: "\f0c7";
$i-square: "\f0c8";
$i-bars: "\f0c9";
$i-navicon: "\f0c9";
$i-reorder: "\f0c9";
$i-list-ul: "\f0ca";
$i-list-ol: "\f0cb";
$i-strikethrough: "\f0cc";
$i-underline: "\f0cd";
$i-table: "\f0ce";
$i-magic: "\f0d0";
$i-truck: "\f0d1";
$i-pinterest: "\f0d2";
$i-pinterest-square: "\f0d3";
$i-google-plus-square: "\f0d4";
$i-google-plus: "\f0d5";
$i-money: "\f0d6";
$i-caret-down: "\f0d7";
$i-caret-up: "\f0d8";
$i-caret-left: "\f0d9";
$i-caret-right: "\f0da";
$i-columns: "\f0db";
$i-sort: "\f0dc";
$i-unsorted: "\f0dc";
$i-sort-desc: "\f0dd";
$i-sort-down: "\f0dd";
$i-sort-asc: "\f0de";
$i-sort-up: "\f0de";
$i-envelope: "\f0e0";
$i-linkedin: "\f0e1";
$i-rotate-left: "\f0e2";
$i-undo: "\f0e2";
$i-gavel: "\f0e3";
$i-legal: "\f0e3";
$i-dashboard: "\f0e4";
$i-tachometer: "\f0e4";
$i-comment-o: "\f0e5";
$i-comments-o: "\f0e6";
$i-bolt: "\f0e7";
$i-flash: "\f0e7";
$i-sitemap: "\f0e8";
$i-umbrella: "\f0e9";
$i-clipboard: "\f0ea";
$i-paste: "\f0ea";
$i-lightbulb-o: "\f0eb";
$i-exchange: "\f0ec";
$i-cloud-download: "\f0ed";
$i-cloud-upload: "\f0ee";
$i-user-md: "\f0f0";
$i-stethoscope: "\f0f1";
$i-suitcase: "\f0f2";
$i-bell: "\f0f3";
$i-coffee: "\f0f4";
$i-cutlery: "\f0f5";
$i-file-text-o: "\f0f6";
$i-building-o: "\f0f7";
$i-hospital-o: "\f0f8";
$i-ambulance: "\f0f9";
$i-medkit: "\f0fa";
$i-fighter-jet: "\f0fb";
$i-beer: "\f0fc";
$i-h-square: "\f0fd";
$i-plus-square: "\f0fe";
$i-angle-double-left: "\f100";
$i-angle-double-right: "\f101";
$i-angle-double-up: "\f102";
$i-angle-double-down: "\f103";
$i-angle-left: "\f104";
$i-angle-right: "\f105";
$i-angle-up: "\f106";
$i-angle-down: "\f107";
$i-desktop: "\f108";
$i-laptop: "\f109";
$i-tablet: "\f10a";
$i-mobile: "\f10b";
$i-mobile-phone: "\f10b";
$i-circle-o: "\f10c";
$i-quote-left: "\f10d";
$i-quote-right: "\f10e";
$i-spinner: "\f110";
$i-circle: "\f111";
$i-mail-reply: "\f112";
$i-reply: "\f112";
$i-github-alt: "\f113";
$i-folder-o: "\f114";
$i-folder-open-o: "\f115";
$i-smile-o: "\f118";
$i-frown-o: "\f119";
$i-meh-o: "\f11a";
$i-gamepad: "\f11b";
$i-keyboard-o: "\f11c";
$i-flag-o: "\f11d";
$i-flag-checkered: "\f11e";
$i-terminal: "\f120";
$i-code: "\f121";
$i-mail-reply-all: "\f122";
$i-reply-all: "\f122";
$i-star-half-empty: "\f123";
$i-star-half-full: "\f123";
$i-star-half-o: "\f123";
$i-location-arrow: "\f124";
$i-crop: "\f125";
$i-code-fork: "\f126";
$i-chain-broken: "\f127";
$i-unlink: "\f127";
$i-info: "\f129";
$i-exclamation: "\f12a";
$i-superscript: "\f12b";
$i-subscript: "\f12c";
$i-eraser: "\f12d";
$i-puzzle-piece: "\f12e";
$i-microphone: "\f130";
$i-microphone-slash: "\f131";
$i-shield: "\f132";
$i-calendar-o: "\f133";
$i-fire-extinguisher: "\f134";
$i-rocket: "\f135";
$i-maxcdn: "\f136";
$i-chevron-circle-left: "\f137";
$i-chevron-circle-right: "\f138";
$i-chevron-circle-up: "\f139";
$i-chevron-circle-down: "\f13a";
$i-html5: "\f13b";
$i-css3: "\f13c";
$i-anchor: "\f13d";
$i-unlock-alt: "\f13e";
$i-bullseye: "\f140";
$i-ellipsis-h: "\f141";
$i-ellipsis-v: "\f142";
$i-rss-square: "\f143";
$i-play-circle: "\f144";
$i-ticket: "\f145";
$i-minus-square: "\f146";
$i-minus-square-o: "\f147";
$i-level-up: "\f148";
$i-level-down: "\f149";
$i-check-square: "\f14a";
$i-pencil-square: "\f14b";
$i-external-link-square: "\f14c";
$i-share-square: "\f14d";
$i-compass: "\f14e";
$i-caret-square-o-down: "\f150";
$i-toggle-down: "\f150";
$i-caret-square-o-up: "\f151";
$i-toggle-up: "\f151";
$i-caret-square-o-right: "\f152";
$i-toggle-right: "\f152";
$i-eur: "\f153";
$i-euro: "\f153";
$i-gbp: "\f154";
$i-dollar: "\f155";
$i-usd: "\f155";
$i-inr: "\f156";
$i-rupee: "\f156";
$i-cny: "\f157";
$i-jpy: "\f157";
$i-rmb: "\f157";
$i-yen: "\f157";
$i-rouble: "\f158";
$i-rub: "\f158";
$i-ruble: "\f158";
$i-krw: "\f159";
$i-won: "\f159";
$i-bitcoin: "\f15a";
$i-btc: "\f15a";
$i-file: "\f15b";
$i-file-text: "\f15c";
$i-sort-alpha-asc: "\f15d";
$i-sort-alpha-desc: "\f15e";
$i-sort-amount-asc: "\f160";
$i-sort-amount-desc: "\f161";
$i-sort-numeric-asc: "\f162";
$i-sort-numeric-desc: "\f163";
$i-thumbs-up: "\f164";
$i-thumbs-down: "\f165";
$i-youtube-square: "\f166";
$i-youtube: "\f167";
$i-xing: "\f168";
$i-xing-square: "\f169";
$i-youtube-play: "\f16a";
$i-dropbox: "\f16b";
$i-stack-overflow: "\f16c";
$i-instagram: "\f16d";
$i-flickr: "\f16e";
$i-adn: "\f170";
$i-bitbucket: "\f171";
$i-bitbucket-square: "\f172";
$i-tumblr: "\f173";
$i-tumblr-square: "\f174";
$i-long-arrow-down: "\f175";
$i-long-arrow-up: "\f176";
$i-long-arrow-left: "\f177";
$i-long-arrow-right: "\f178";
$i-apple: "\f179";
$i-windows: "\f17a";
$i-android: "\f17b";
$i-linux: "\f17c";
$i-dribbble: "\f17d";
$i-skype: "\f17e";
$i-foursquare: "\f180";
$i-trello: "\f181";
$i-female: "\f182";
$i-male: "\f183";
$i-gittip: "\f184";
$i-gratipay: "\f184";
$i-sun-o: "\f185";
$i-moon-o: "\f186";
$i-archive: "\f187";
$i-bug: "\f188";
$i-vk: "\f189";
$i-weibo: "\f18a";
$i-renren: "\f18b";
$i-pagelines: "\f18c";
$i-stack-exchange: "\f18d";
$i-arrow-circle-o-right: "\f18e";
$i-arrow-circle-o-left: "\f190";
$i-caret-square-o-left: "\f191";
$i-toggle-left: "\f191";
$i-dot-circle-o: "\f192";
$i-wheelchair: "\f193";
$i-vimeo-square: "\f194";
$i-try: "\f195";
$i-turkish-lira: "\f195";
$i-plus-square-o: "\f196";
$i-space-shuttle: "\f197";
$i-slack: "\f198";
$i-envelope-square: "\f199";
$i-wordpress: "\f19a";
$i-openid: "\f19b";
$i-bank: "\f19c";
$i-institution: "\f19c";
$i-university: "\f19c";
$i-graduation-cap: "\f19d";
$i-mortar-board: "\f19d";
$i-yahoo: "\f19e";
$i-google: "\f1a0";
$i-reddit: "\f1a1";
$i-reddit-square: "\f1a2";
$i-stumbleupon-circle: "\f1a3";
$i-stumbleupon: "\f1a4";
$i-delicious: "\f1a5";
$i-digg: "\f1a6";
$i-pied-piper-pp: "\f1a7";
$i-pied-piper-alt: "\f1a8";
$i-drupal: "\f1a9";
$i-joomla: "\f1aa";
$i-language: "\f1ab";
$i-fax: "\f1ac";
$i-building: "\f1ad";
$i-child: "\f1ae";
$i-paw: "\f1b0";
$i-spoon: "\f1b1";
$i-cube: "\f1b2";
$i-cubes: "\f1b3";
$i-behance: "\f1b4";
$i-behance-square: "\f1b5";
$i-steam: "\f1b6";
$i-steam-square: "\f1b7";
$i-recycle: "\f1b8";
$i-automobile: "\f1b9";
$i-car: "\f1b9";
$i-cab: "\f1ba";
$i-taxi: "\f1ba";
$i-tree: "\f1bb";
$i-spotify: "\f1bc";
$i-deviantart: "\f1bd";
$i-soundcloud: "\f1be";
$i-database: "\f1c0";
$i-file-pdf-o: "\f1c1";
$i-file-word-o: "\f1c2";
$i-file-excel-o: "\f1c3";
$i-file-powerpoint-o: "\f1c4";
$i-file-image-o: "\f1c5";
$i-file-photo-o: "\f1c5";
$i-file-picture-o: "\f1c5";
$i-file-archive-o: "\f1c6";
$i-file-zip-o: "\f1c6";
$i-file-audio-o: "\f1c7";
$i-file-sound-o: "\f1c7";
$i-file-movie-o: "\f1c8";
$i-file-video-o: "\f1c8";
$i-file-code-o: "\f1c9";
$i-vine: "\f1ca";
$i-codepen: "\f1cb";
$i-jsfiddle: "\f1cc";
$i-life-bouy: "\f1cd";
$i-life-buoy: "\f1cd";
$i-life-ring: "\f1cd";
$i-life-saver: "\f1cd";
$i-support: "\f1cd";
$i-circle-o-notch: "\f1ce";
$i-ra: "\f1d0";
$i-rebel: "\f1d0";
$i-resistance: "\f1d0";
$i-empire: "\f1d1";
$i-ge: "\f1d1";
$i-git-square: "\f1d2";
$i-git: "\f1d3";
$i-hacker-news: "\f1d4";
$i-y-combinator-square: "\f1d4";
$i-yc-square: "\f1d4";
$i-tencent-weibo: "\f1d5";
$i-qq: "\f1d6";
$i-wechat: "\f1d7";
$i-weixin: "\f1d7";
$i-paper-plane: "\f1d8";
$i-send: "\f1d8";
$i-paper-plane-o: "\f1d9";
$i-send-o: "\f1d9";
$i-history: "\f1da";
$i-circle-thin: "\f1db";
$i-header: "\f1dc";
$i-paragraph: "\f1dd";
$i-sliders: "\f1de";
$i-share-alt: "\f1e0";
$i-share-alt-square: "\f1e1";
$i-bomb: "\f1e2";
$i-futbol-o: "\f1e3";
$i-soccer-ball-o: "\f1e3";
$i-tty: "\f1e4";
$i-binoculars: "\f1e5";
$i-plug: "\f1e6";
$i-slideshare: "\f1e7";
$i-twitch: "\f1e8";
$i-yelp: "\f1e9";
$i-newspaper-o: "\f1ea";
$i-wifi: "\f1eb";
$i-calculator: "\f1ec";
$i-paypal: "\f1ed";
$i-google-wallet: "\f1ee";
$i-cc-visa: "\f1f0";
$i-cc-mastercard: "\f1f1";
$i-cc-discover: "\f1f2";
$i-cc-amex: "\f1f3";
$i-cc-paypal: "\f1f4";
$i-cc-stripe: "\f1f5";
$i-bell-slash: "\f1f6";
$i-bell-slash-o: "\f1f7";
$i-trash: "\f1f8";
$i-copyright: "\f1f9";
$i-at: "\f1fa";
$i-eyedropper: "\f1fb";
$i-paint-brush: "\f1fc";
$i-birthday-cake: "\f1fd";
$i-area-chart: "\f1fe";
$i-pie-chart: "\f200";
$i-line-chart: "\f201";
$i-lastfm: "\f202";
$i-lastfm-square: "\f203";
$i-toggle-off: "\f204";
$i-toggle-on: "\f205";
$i-bicycle: "\f206";
$i-bus: "\f207";
$i-ioxhost: "\f208";
$i-angellist: "\f209";
$i-cc: "\f20a";
$i-ils: "\f20b";
$i-shekel: "\f20b";
$i-sheqel: "\f20b";
$i-meanpath: "\f20c";
$i-buysellads: "\f20d";
$i-connectdevelop: "\f20e";
$i-dashcube: "\f210";
$i-forumbee: "\f211";
$i-leanpub: "\f212";
$i-sellsy: "\f213";
$i-shirtsinbulk: "\f214";
$i-simplybuilt: "\f215";
$i-skyatlas: "\f216";
$i-cart-plus: "\f217";
$i-cart-arrow-down: "\f218";
$i-diamond: "\f219";
$i-ship: "\f21a";
$i-user-secret: "\f21b";
$i-motorcycle: "\f21c";
$i-street-view: "\f21d";
$i-heartbeat: "\f21e";
$i-venus: "\f221";
$i-mars: "\f222";
$i-mercury: "\f223";
$i-intersex: "\f224";
$i-transgender: "\f224";
$i-transgender-alt: "\f225";
$i-venus-double: "\f226";
$i-mars-double: "\f227";
$i-venus-mars: "\f228";
$i-mars-stroke: "\f229";
$i-mars-stroke-v: "\f22a";
$i-mars-stroke-h: "\f22b";
$i-neuter: "\f22c";
$i-genderless: "\f22d";
$i-facebook-official: "\f230";
$i-pinterest-p: "\f231";
$i-whatsapp: "\f232";
$i-server: "\f233";
$i-user-plus: "\f234";
$i-user-times: "\f235";
$i-bed: "\f236";
$i-hotel: "\f236";
$i-viacoin: "\f237";
$i-train: "\f238";
$i-subway: "\f239";
$i-medium: "\f23a";
$i-y-combinator: "\f23b";
$i-yc: "\f23b";
$i-optin-monster: "\f23c";
$i-opencart: "\f23d";
$i-expeditedssl: "\f23e";
$i-battery: "\f240";
$i-battery-4: "\f240";
$i-battery-full: "\f240";
$i-battery-3: "\f241";
$i-battery-three-quarters: "\f241";
$i-battery-2: "\f242";
$i-battery-half: "\f242";
$i-battery-1: "\f243";
$i-battery-quarter: "\f243";
$i-battery-0: "\f244";
$i-battery-empty: "\f244";
$i-mouse-pointer: "\f245";
$i-i-cursor: "\f246";
$i-object-group: "\f247";
$i-object-ungroup: "\f248";
$i-sticky-note: "\f249";
$i-sticky-note-o: "\f24a";
$i-cc-jcb: "\f24b";
$i-cc-diners-club: "\f24c";
$i-clone: "\f24d";
$i-balance-scale: "\f24e";
$i-hourglass-o: "\f250";
$i-hourglass-1: "\f251";
$i-hourglass-start: "\f251";
$i-hourglass-2: "\f252";
$i-hourglass-half: "\f252";
$i-hourglass-3: "\f253";
$i-hourglass-end: "\f253";
$i-hourglass: "\f254";
$i-hand-grab-o: "\f255";
$i-hand-rock-o: "\f255";
$i-hand-paper-o: "\f256";
$i-hand-stop-o: "\f256";
$i-hand-scissors-o: "\f257";
$i-hand-lizard-o: "\f258";
$i-hand-spock-o: "\f259";
$i-hand-pointer-o: "\f25a";
$i-hand-peace-o: "\f25b";
$i-trademark: "\f25c";
$i-registered: "\f25d";
$i-creative-commons: "\f25e";
$i-gg: "\f260";
$i-gg-circle: "\f261";
$i-tripadvisor: "\f262";
$i-odnoklassniki: "\f263";
$i-odnoklassniki-square: "\f264";
$i-get-pocket: "\f265";
$i-wikipedia-w: "\f266";
$i-safari: "\f267";
$i-chrome: "\f268";
$i-firefox: "\f269";
$i-opera: "\f26a";
$i-internet-explorer: "\f26b";
$i-television: "\f26c";
$i-tv: "\f26c";
$i-contao: "\f26d";
$i-500px: "\f26e";
$i-amazon: "\f270";
$i-calendar-plus-o: "\f271";
$i-calendar-minus-o: "\f272";
$i-calendar-times-o: "\f273";
$i-calendar-check-o: "\f274";
$i-industry: "\f275";
$i-map-pin: "\f276";
$i-map-signs: "\f277";
$i-map-o: "\f278";
$i-map: "\f279";
$i-commenting: "\f27a";
$i-commenting-o: "\f27b";
$i-houzz: "\f27c";
$i-vimeo: "\f27d";
$i-black-tie: "\f27e";
$i-fonticons: "\f280";
$i-reddit-alien: "\f281";
$i-edge: "\f282";
$i-credit-card-alt: "\f283";
$i-codiepie: "\f284";
$i-modx: "\f285";
$i-fort-awesome: "\f286";
$i-usb: "\f287";
$i-product-hunt: "\f288";
$i-mixcloud: "\f289";
$i-scribd: "\f28a";
$i-pause-circle: "\f28b";
$i-pause-circle-o: "\f28c";
$i-stop-circle: "\f28d";
$i-stop-circle-o: "\f28e";
$i-shopping-bag: "\f290";
$i-shopping-basket: "\f291";
$i-hashtag: "\f292";
$i-bluetooth: "\f293";
$i-bluetooth-b: "\f294";
$i-percent: "\f295";
$i-gitlab: "\f296";
$i-wpbeginner: "\f297";
$i-wpforms: "\f298";
$i-envira: "\f299";
$i-universal-access: "\f29a";
$i-wheelchair-alt: "\f29b";
$i-question-circle-o: "\f29c";
$i-blind: "\f29d";
$i-audio-description: "\f29e";
$i-volume-control-phone: "\f2a0";
$i-braille: "\f2a1";
$i-assistive-listening-systems: "\f2a2";
$i-american-sign-language-interpreting: "\f2a3";
$i-asl-interpreting: "\f2a3";
$i-deaf: "\f2a4";
$i-deafness: "\f2a4";
$i-hard-of-hearing: "\f2a4";
$i-glide: "\f2a5";
$i-glide-g: "\f2a6";
$i-sign-language: "\f2a7";
$i-signing: "\f2a7";
$i-low-vision: "\f2a8";
$i-viadeo: "\f2a9";
$i-viadeo-square: "\f2aa";
$i-snapchat: "\f2ab";
$i-snapchat-ghost: "\f2ac";
$i-snapchat-square: "\f2ad";
$i-pied-piper: "\f2ae";
$i-first-order: "\f2b0";
$i-yoast: "\f2b1";
$i-themeisle: "\f2b2";
$i-google-plus-circle: "\f2b3";
$i-google-plus-official: "\f2b3";
$i-fa: "\f2b4";
$i-font-awesome: "\f2b4";
$i-handshake-o: "\f2b5";
$i-envelope-open: "\f2b6";
$i-envelope-open-o: "\f2b7";
$i-linode: "\f2b8";
$i-address-book: "\f2b9";
$i-address-book-o: "\f2ba";
$i-address-card: "\f2bb";
$i-vcard: "\f2bb";
$i-address-card-o: "\f2bc";
$i-vcard-o: "\f2bc";
$i-user-circle: "\f2bd";
$i-user-circle-o: "\f2be";
$i-user-o: "\f2c0";
$i-id-badge: "\f2c1";
$i-drivers-license: "\f2c2";
$i-id-card: "\f2c2";
$i-drivers-license-o: "\f2c3";
$i-id-card-o: "\f2c3";
$i-quora: "\f2c4";
$i-free-code-camp: "\f2c5";
$i-telegram: "\f2c6";
$i-thermometer: "\f2c7";
$i-thermometer-4: "\f2c7";
$i-thermometer-full: "\f2c7";
$i-thermometer-3: "\f2c8";
$i-thermometer-three-quarters: "\f2c8";
$i-thermometer-2: "\f2c9";
$i-thermometer-half: "\f2c9";
$i-thermometer-1: "\f2ca";
$i-thermometer-quarter: "\f2ca";
$i-thermometer-0: "\f2cb";
$i-thermometer-empty: "\f2cb";
$i-shower: "\f2cc";
$i-bath: "\f2cd";
$i-bathtub: "\f2cd";
$i-s15: "\f2cd";
$i-podcast: "\f2ce";
$i-window-maximize: "\f2d0";
$i-window-minimize: "\f2d1";
$i-window-restore: "\f2d2";
$i-times-rectangle: "\f2d3";
$i-window-close: "\f2d3";
$i-times-rectangle-o: "\f2d4";
$i-window-close-o: "\f2d4";
$i-bandcamp: "\f2d5";
$i-grav: "\f2d6";
$i-etsy: "\f2d7";
$i-imdb: "\f2d8";
$i-ravelry: "\f2d9";
$i-eercast: "\f2da";
$i-microchip: "\f2db";
$i-snowflake-o: "\f2dc";
$i-superpowers: "\f2dd";
$i-wpexplorer: "\f2de";
$i-meetup: "\f2e0";

